<!DOCTYPE html>
<html lang="en">
<head>
<style media="screen">

form {
  font-family: monospace;
  padding: 20px 20px;
}

input[type=text] {
  width: 300px;
  border: 1px solid;
  border-radius: 3px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.action-success, .action-fail {
  margin: 10px 0px;
  padding:12px;
}

.action-success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.action-fail {
  color: #D8000C;
  background-color: #FFD2D2;
}

</style>
<title>File upload</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <form method=post enctype=multipart/form-data>
    <input type="text" name="path" {% if last_used_dir %} value="{{ last_used_dir }}" {% else %} placeholder="complete or relative dir path" {% endif %}>
    \ <input type="file" name="file"><br>
    <input type="submit" value="⭱ Upload ⭱">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flashes">
          {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </form>

</body>
</html>
